.container{
    height: 100vh;
    background-color: bisque;
    width: 80vw;
    margin: 30px auto;
    border: 2px solid blue;
    /* FLEXBOX */

    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    /* flex-wrap: wrap;
    align-content: space-between; */
}
.container .child{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 3px solid red;
    background-color: aqua;
    text-align: center;
    
}
.child6{
    flex-shrink: 2;
    /* flex-grow: 1; */
}