*{
    margin: 0;
    padding: 0;
}
.container{
    background: rgb(34, 34, 34);
    padding: 20px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "h h h h"
    "m m n n" 
    "m m s s"
    "m m a a"
    "f f f f";
}
.s{
    background: rgb(84, 84, 84);
    padding: 20px;
    color: #fff;
    text-align: center;
    /* margin: 10px; */
}
header{
    grid-area: h;
}

nav{
    grid-area: n;
}
main{
    grid-area: m;
}
section{
    grid-area: s;
}
aside{
    grid-area: a;
}
footer{
    grid-area: f;
}