section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div{
    width: 200px;
    height: 200px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Name 10s infinite ease-in-out;
    transition: all 2s ease;

}
section div > p{
    padding: 0;
    margin: 0;
    content: "Chandaluri";

}

@keyframes Name {
    0%{
        transform: translate(20px 20px);
        color: aliceblue;
        transform: scale(2);
    }
    25%{
        transform: scale(1.5);
        transform: translateX(30px);
        transform: rotate(60deg);
        color: red;
    }
    75% {
        transform: skew(20deg);
        background-color: yellow;
        color: orange;
    }
}